<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">

  <test thread-count="5" parallel="tests" name="Test1">
    <classes>
      <class name="dockerTest.ProvideCorrectTitle"/>
     
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" parallel="tests" name="Test2">
    <classes>
      <class name="dockerTest.ProvideCorrectTitle"/>
   
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" parallel="tests" name="SignIn">
    <classes>
      <class name="dockerTest.SignIn"/>
   
    </classes>
  </test> <!-- Test -->
  <test thread-count="4" parallel="tests" name="SignUP">
    <classes>
      <class name="dockerTest.SignUp"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->